# fastify server
HOST=localhost
PORT=3333

# environmet (development | test | production)
ENVIRONMENT=development

# allowed origins (use comma separation for muliple origins)
ALLOWED_ORIGINS=localhost:3333,example.com

# absolute paths to jwt keys
# this setting is dummy and not used in development and test environment
# in development and test environment, it will be used the keys in the ./keys/jwtsecret file of the project
# in production, you should use absolute paths to your keys
JWT_SECRET=/absolute-path-to/jwtsecret

# firebse service account private key
FIREBASE_SERVICE_PK=""

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://bookswap_dev_user:bookswap_dev_password@localhost:7777/bookswap_dev_db"
